<section id="services" class="container content-section text-center">
<div class="container">
  <h2>Services on site</h2>
  <p></p>            
  <div class="row">
      <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/networkingglobal.jpg" alt="..." class="img-thumbnail" style="width:80%;height:80%">
      <div class="caption">
        <h3><strong>Networking</strong></h3>
        <p>We offer customize networking solutions for your Small Office Home Office (SOHO)  , Office , Home and Business .</p>
        <p>We can implement:<br> 
Wireless Network (WIFI)<br> 
Local Area Network (LAN)<br> 
Wide Area Network (WAN)<br> 
Installation for Printer, Scanner, Copier , All in One</p>
        <p><a href="#" class="btn btn-default" role="button">Call us</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/recoverinformation.jpg" alt="..." class="img-thumbnail" style="width:80%;height:80%">
      <div class="caption">
        <h3><strong>Data recovery</strong></h3>
        <p>We provide the peace of mind to keep safe your information offering:</p>
        <p>Back Ups<br> 
Restoration of Loss Information <br> 
Password Revealing and Recovery</p>
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
  Call us
</button>
      </div>
    </div>
  </div>
     <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/servicerepairdoc.jpg" alt="..." class="img-thumbnail" style="width:80%;height:80%">
      <div class="caption">
        <h3><strong>Malware detection</strong></h3>
        <p>We provide the tools to keep safe your Information.</p>
        <p>Antivirus Installation<br>
Virus Removal<br>
Spyware Removal<br>
Malware Removal<br> 
Computer Tune Up and Registry Repair<br>
General Troubleshooting</p>
        <%= link_to 'Call us', service_information_path, class:"btn btn-default", role:"button" %>
      </div>
    </div>
  </div>
  </div>
       <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/upgrade-large.png" alt="..." class="img-thumbnail" style="width:80%;height:80%">
      <div class="caption">
        <h3><strong>HARDWARE / SOFTWARE UPGRADES</strong></h3>
        <p>We offer the best solution for your old computer:<br>
Increase Hard Drive<br> 
Increase Memory RAM<br>
DVD/ Blue Ray Burners<br>
LCD Replacement</p>
        <p></p>
      </div>
    </div>
  </div>
  </div>
</div> 
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>