<section id="about" class="container content-section text-center">
<div class="container">
  <h2>Sevices on site</h2>
  <p></p>            
  <div class="row">
    <div class="col-md-4">
      <a href="/images/preview.png" class="thumbnail">
        <p>Web site creation.</p>    
        <img src="/images/preview.png" alt="Pulpit Rock" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="moustiers-sainte-marie.jpg" class="thumbnail">
        <p>Computer reapair.</p>
        <img src="moustiers-sainte-marie.jpg" alt="" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="cinqueterre.jpg" class="thumbnail">
        <p>Data recovery.</p>      
        <img src="cinqueterre.jpg" alt="" style="width:150px;height:150px">
      </a>
    </div>
  </div>
</div> 
</section>