<section id="about" class="container content-section text-center">
<div class="container">
  <h2>The most popular concepts of websites. We can develop any different for your needs. </h2>
  <p></p>            
  <div class="row">
    <div class="col-md-4">
      <a href="/images/personalwebsite.png" class="thumbnail">
        <p>Personal website</p>    
        <img src="/images/personalwebsite.png" alt="Pulpit Rock" style="width:150px;height:150px">
      </a>
      <p><a href="#" class="btn btn-default" role="button">More details</a></p> 
    </div>
    <div class="col-md-4">
      <a href="/images/enterprisewebsite.jpeg" class="thumbnail">
        <p>Enterprise website</p>
        <img src="/images/enterprisewebsite.jpeg" alt="Moustiers Sainte Marie" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="/images/app1.jpg" class="thumbnail">
        <p>Website and Custom Application</p>      
        <img src="/images/app1.jpg" alt="Cinque Terre" style="width:50%;height:50%">
      </a>
    </div>
  </div>
</div> 
</section>
