<section id="footer" class="container content-section text-center">
<div class="container">
 <!-- Map Section -->
 <div id="map"></div>
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
<iframe class="image-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3109.8007886784267!2d-121.26010768465272!3d38.79120097958714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809b1f5e96618107%3A0x1a15c3b5e22e007!2s2651+Sunset+Blvd%2C+Rocklin%2C+CA+95677!5e0!3m2!1sen!2sus!4v1469467982376" width="90%" height="350"  frameborder="0" style="border:0" allowfullscreen></iframe>
<!-- Footer -->
 <footer>
 <div class="container text-center">
 <p>Copyright &copy; CJCOMPUTER 2016</p>
 </div>
 </footer>
 </div> 
</section>

 